:root{
    --t-bg-main:   #DEE3DF;
    --t-bg-secondary: #ececec;
    --t-bg-contrast: lightgray;
    --t-bg-outline: #00dbcc;;

    --t-bg-shadow: #00000059;
    --t-bg-shadow-hard: #000000A9;
    --t-bg-active: #76b87f;
    --t-bg-paused: #db4500;;
}

webtour-tools{
    display: block;
    position: fixed;
    z-index: 99;
    bottom: 10px;
    right: 10px;
    width: 240px;
    box-sizing: content-box;
    height: auto;
    background-color: var(--t-bg-secondary);
    border: 1px solid var(--t-bg-secondary);
    box-shadow: 1px 1px 3px var(--t-bg-shadow);
    border-radius: 3px;
    font-family: monospace;
}

webtour-tools > h1{
    font-size: 1rem;
    width: auto;
    box-sizing: border-box;
    height: auto;
    margin: 20px 10px 10px 10px;
    text-align: center;
    cursor: pointer;
}

webtour-tools > h2{
    font-size: 0.7rem;
    width: auto;
    box-sizing: border-box;
    height: auto;
    margin: 0px 0px 10px 0px;
    text-align: center;
    cursor: progress;
}

webtour-tools > div{
    display: inline-block;
    width: 40px;
    box-sizing: border-box;
    height: auto;
    padding: 5px 0px;
    text-align: center;
    border-top: 1px solid var(--t-bg-shadow);
    cursor: pointer;
}

webtour-tools > div:hover { 
    background-color: var(--t-bg-main);
}

webtour-tools[webtour-state="active"] {
    border: 1px solid var(--t-bg-active);
    box-shadow: 2px 2px 10px var(--t-bg-active);
}

webtour-tools[webtour-state="paused"] {
    border: 1px solid var(--t-bg-paused);
    box-shadow: 2px 2px 10px var(--t-bg-paused);
}

webtour-tools[webtour-state="stopped"] {
    box-shadow: 1px 1px 3px var(--t-bg-shadow);
}

webtour-tools:hover {
    box-shadow: 2px 2px 10px var(--t-bg-shadow);
    z-index: 110;
}

*[webtour-targeted="active"]{ 
    outline: 5px solid var(--t-bg-outline);
}

*[webtour-targeted="disabled"]{ 
    outline: initial;
}

/*
* ------------------ STEP ----------------------------------------
*/

webtour-step {
    background-color: var(--t-bg-secondary);
    border: 1px solid var(--t-bg-secondary);
    box-shadow: 1px 1px 3px var(--t-bg-shadow);
    position: fixed;
    z-index: 100;
    border-radius: 10px;
    padding: 15px 15px 10px 15px;
    min-width: 200px;
    max-width: 200px;
    height: auto;
    visibility: hidden;
    cursor: pointer;
}

webtour-step:hover {
    z-index: 110;
    border: 1px solid var(--t-bg-shadow-hard);
    box-shadow: 2px 2px 10px var(--t-bg-shadow-hard);
}

webtour-step[step-state="active"] {
    visibility: visible;
}

webtour-step[step-state="disabled"] {
    visibility: hidden;
}

webtour-step > h1 {
    color: var(--t-bg-shadow-hard);
    margin: 0px;
    text-transform: capitalize;
    font-size: 0.9rem;
}

webtour-step > p {
    text-align: justify;
    text-transform: capitalize;
    font-size: 0.8rem;
}